.git
.github
**/node_modules
**/data
**/coverage
backend/
.env
.env.*
**/.env
**/.env.*
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.log
**/.DS_Store
frontend/dist
bff/*.test.js
bff/babel.config.cjs
frontend/src/**/*.test.js
frontend/src/**/*.test.jsx
frontend/src/setupTests.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
